.TodoInput {
  position: relative;
}

.TodoInput label {
  display: block;
  color: #919191;
  font-size: 12px;
  padding-left: 20px;
}

.TodoInput input {
  width: 100%;
}

.TodoInput button {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 12px 20px;
  background-color: #1111115d;
  border: none;
  outline: none;
  cursor: pointer;
  color: #943838;
  font-weight: 600;
  text-transform: uppercase;
  transition:background-color .3s, color .2s .1s;
}

.TodoInput button:hover {
  background-color: #943838;
  color: #ffffff ;
}
